*.git
*.idea
*.DS_Store
__pycache__
Deeplab/research/deeplab/data/

Deeplab/research/deeplab/dataset/

Deeplab/research/deeplab/EVAL_58_parts/

Deeplab/research/deeplab/pretrained/

Deeplab/research/deeplab/tfrecord_21_classes/

Deeplab/research/deeplab/tfrecord_58_parts/

Deeplab/research/deeplab/TRAIN_21_classes/

Deeplab/research/deeplab/VIS_21_classes/

Deeplab/research/deeplab/TRAIN_58_parts/

Deeplab/research/deeplab/*.txt
